#actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: left;
    margin: 1rem;

    button {
        margin-bottom: 1rem;
    }

    input {
        display: block;
        width: 100%;
    }
}
