.username,
.user-form {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);
}

.username,
.user-form-username,
.user-form-button {
    background-color: $background-color;
    color: $color;

    border: 1px solid $color;
    outline: none;
}

.username {
    display: none;

    font-size: 1rem;
    padding: 0.5rem;

    cursor: pointer;
    user-select: none;
}

.user-form {
    height: 2rem;
    display: flex;
}

.user-form-username {
    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    vertical-align: top;
}

.user-form-username {
    display: inline-block;
}

.user-form-error {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);

    width: 100%;
    text-align: center;

    color: $color;
}

.user-form-button {
    height: 2rem;
    width: 2rem;

    padding: 0.3rem;
    padding-left: 0.1rem;
    border-left: none;

    svg, path { fill: $color; }

    &:hover {
        background-color: $color;
        color: $background-color;

        svg, path {
            fill: $background-color;
        }
    }
}
