.username,
.user-form {
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);

    @mixin box;
}

.username {
    display: none;
    padding: 0 0.5rem;
    line-height: 2;

    cursor: pointer;
    user-select: none;
}

.user-form {
    display: flex;
    transform: translate(calc(-50% + 1rem));
}

.user-form-error {
    position: absolute;
    top: -2rem;
    left: 50%;
    transform: translate(-50%);

    width: 100%;
    text-align: center;

    color: $color;
}

.user-form-username {
    text-align: center;
}

.user-form-button {
    height: 2rem;
    width: 2rem;
    border-left: 1px solid $color;

    /* adjust to svg positioning */
    padding: 0.3rem;
    padding-left: 0.1rem;

    svg, path { fill: $color; }

    &:hover {
        background-color: $color;
        color: $background-color;

        svg, path {
            fill: $background-color;
        }
    }
}
