.user-form {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%);

    height: 2rem;
    padding: 0.25rem 0.5rem;

    display: flex;
}

.user-form-username,
.user-form-button {
    background-color: $background-color;
    color: $color;

    border: 1px solid $color;
    outline: none;
}

.user-form-username {
    font-size: 1rem;
    padding: 0.5rem;
    vertical-align: top;
    display: inline-block;
}

.user-form-button {
    border-left: none;
    height: 2rem;
    width: 2rem;

    padding: 0.3rem;
    padding-left: 0.1rem;

    svg, path {
        fill: $color;
    }
}
