/* main styles for ui boxes */
@define-mixin box {
    position: absolute;
    height: 2rem;

    background-color: $background-color;
    color: $color;

    box-shadow: 0 0 0 1px $color;
    outline: none;

    font-size: 1rem;
};
