@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: normal;
    src: url("http://themes.googleusercontent.com/static/fonts/inconsolata/v3/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Inconsolata";
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

ul { list-style: none; }

#hud {
    color: #d7d7d7;
    background-color: #272727;

    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    z-index: 2;
}

#hud span {
    display: block;
    margin: 1rem;
    padding: 0.5rem;
}

#sourcesOverlay {
    color: #d7d7d7;
    background-color: #272727;

    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;

    z-index: 3;
}

#sourcesOverlay.closed { display: none; }

#sources {
    padding-top: 12.5px;
    text-align: center;
}
#sources button { visibility: hidden; }

#actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: left;
    margin: 1rem;
}

#actions button {
    margin-bottom: 1rem;
}

#actions input {
    display: block;
    width: 100%;
}

.ac-suggestions {
    background-color: #D7D7D7;
    text-align: left;
    margin: 0;
    padding: 0;
}

.ac-suggestions li {
    padding: 0.25rem 0.5rem;
}

.ac-suggestions li.active,
.ac-suggestions li:hover {
    background-color: #272727;
    color: #D7D7D7;
    cursor: pointer;
}

.ac-suggestions li:first-child {
    padding-top: 0.5rem;
}
.ac-suggestions li:last-child {
    padding-bottom: 0.5rem;
}
