@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: normal;
    src: url("http://themes.googleusercontent.com/static/fonts/inconsolata/v3/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Inconsolata";
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

#heads-up {
    padding: 10px;
    color: #d7d7d7;
    background-color: #272727;

    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
}

#heads-up span { display: block; }

#sources-overlay {
    color: #d7d7d7;
    background-color: #272727;

    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;

    z-index: 3;
}

#sources-overlay.closed { width: 5%; }
#sources-overlay.closed #sources { display: none; }

#sources, #toggle-overlay {
    padding-top: 12.5px;
    text-align: center;
}
#toggle-overlay {
    float: left;
    height: 100%;
    width: 40px;
    padding: 0;
}

.actions {
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 2;
}
