.search {
    position: absolute;
    top: 0;
    left: 0;

    height: 1.5rem;
    padding: 0.5rem;
}

.search-icon {
    background-color: $background-color;
    border: 1px solid $color;
    border-left: none;

    height: 1.75rem;
    width: 1.75rem;
    margin-left: -0.5rem;

    svg, path {
        fill: $color;
    }
}

.search-input {
    background-color: $background-color;
    color: $color;

    border: 1px solid $color;
    outline: none;

    font-size: 1rem;
    padding: 0.25rem 0.5rem;
    vertical-align: top;
}

.search-list {
    background-color: $background-color;
    color: $color;
    border-bottom: 1px solid $color;

    margin-top: -0.25rem;

    max-height: 75vh;
    overflow: scroll;
}

.search-result {
    padding: 0.25rem 0.5rem;
    border: 1px solid $color;
    border-bottom: none;

    &.active,
    &:hover {
        background-color: $color;
        color: $background-color;
        cursor: pointer;
    }
}
