.search {
    top: 0.5rem;
    left: 0.5rem;
    display: none;

    @mixin box
}

.search-icon {
    height: 2rem;
    width: 2rem;
    border-left: 1px solid $color;

    svg, path {
        fill: $color;
    }

    &:hover,
    &:active {
        background-color: $color;

        svg, path {
            fill: $background-color;
        }
    }
}

.search-list {
    background-color: $background-color;
    color: $color;
    box-shadow: 0 0 0 1px $color;

    max-height: 75vh;
    overflow: scroll;

    position: absolute;
    top: 2.5rem;
    left: 0;
    width: 100%;

    &:empty {
        display: none;
    }
}

.search-result {
    padding: 0.25rem 0.5rem;
    border-bottom: 1px solid $color;

    &:first-of-type {
        border-top: none;
    }

    &:last-of-type {
        border-bottom: none;
    }

    &.active,
    &:hover {
        background-color: $color;
        color: $background-color;
        cursor: pointer;
    }
}
