$background-color: #272727;
$color: #D7D7D7;

@font-face {
    font-family: "Inconsolata";
    font-style: normal;
    font-weight: normal;
    src: url("https://themes.googleusercontent.com/static/fonts/inconsolata/v3/BjAYBlHtW3CJxDcjzrnZCIbN6UDyHWBl620a-IRfuBk.woff") format("woff");
}

body {
    margin: 0;
    padding: 0;
    position: relative;
    font-family: "Inconsolata";
}

canvas {
    width: 100%;
    height: 100%;
    z-index: 1;
}

ul { list-style: none; }

#hud {
    color: $color;
    background-color: $background-color;

    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translate(-50%);

    z-index: 2;

    span {
        display: block;
        margin: 1rem;
        padding: 0.5rem;
    }
}

#sourcesOverlay {
    color: $color;
    background-color: $background-color;

    width: 100%;
    height: 50px;
    position: absolute;
    top: 50%;
    margin-top: -25px;

    z-index: 3;

    &.closed { display: none; }
}

#sources {
    padding-top: 12.5px;
    text-align: center;

    button { visibility: hidden; }
}

#actions {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 2;
    text-align: left;
    margin: 1rem;

    button {
        margin-bottom: 1rem;
    }

    input {
        display: block;
        width: 100%;
    }
}

.ac-suggestions {
    background-color: $color;
    text-align: left;
    margin: 0;
    padding: 0;

    li {
        padding: 0.25rem 0.5rem;

        &.active,
        &:hover {
            background-color: $background-color;
            color: $color;
            cursor: pointer;
        }

        &:first-child { padding-top: 0.5rem; }
        &:last-child { padding-bottom: 0.5rem; }
    }
}

